html, body {
      height: 100%;
      margin: 0px;
      padding: 0px
      }




#directions-panel {
    height: 800px;
	float: right;
    margin-right: 50px;
    width: 250px;
    overflow: auto;
}

#map-canvas {
    height: 700px;
	width: 750px;
    margin-left: 100px;
    margin-right: 600px;
    padding: 0px
    float: left;
}




