<html>

<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<title>JEMS</title>

<!--
    <link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootswatch.css">
	<link rel="stylesheet" href="/static/css/variables.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/calendar/dist/css/bootstrap-calendar.min.css">
-->

</head>

<body {background-color:#b0c4de;} >

<form method="POST">
Location: &nbsp;<input type="text" name="location">
Type of Venue or Service: &nbsp;<input type="text" name="term">
Search Radius (in meters): &nbsp;<input type="text" name="radius">
<br>
<p>ex: "345 Chambers Street, New York, NY"</p>
 <input type="submit" value="Find Venues!"> 
</form>


</body>
